@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS variables (optional) */
:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}
